log_level = "DEBUG"
bind_addr = "0.0.0.0"
data_dir = "/var/nomad"
datacenter = "prod"
region = "{{ ansible_ec2_placement_region }}"

advertise {
  http = "{{ ansible_eth0.ipv4.address }}:4646"
  rpc = "{{ ansible_eth0.ipv4.address }}:4647"
  serf = "{{ ansible_eth0.ipv4.address }}:4648"
}

consul {
  auto_advertise = false
}

server {
  enabled = true
  bootstrap_expect = 3
  retry_join = [{% for node in groups['tag_Role_consul_server'] %}"{{ hostvars[node].ansible_eth0.ipv4.address }}"{% if not loop.last %},{% endif %}{% endfor %}]
}
