{
  "datacenter": "{{ ansible_ec2_placement_region }}",
  "data_dir": "/var/consul",
  "log_level": "INFO",
  "server": false,
  "ui": false,
  "addresses": {
    "dns": "0.0.0.0",
    "http": "0.0.0.0",
    "rpc": "0.0.0.0",
    "https": "0.0.0.0"
  },
  "advertise_addr": "{{ ansible_eth0.ipv4.address }}",
  "client_addr": "{{ ansible_eth0.ipv4.address }}",
  "retry_join": ["consul1.lc.io", "consul2.lc.io", "consul3.lc.io"]
}
