{
  "datacenter": "{{ hostvars[inventory_hostname].ansible_ec2_placement_region }}",
  "data_dir": "/var/consul",
  "log_level": "INFO",
  "server": false,
  "ui": false,
  "addresses": {
    "dns": "0.0.0.0",
    "http": "0.0.0.0",
    "rpc": "0.0.0.0",
    "https": "0.0.0.0"
  },
  "advertise_addr": "{{ hostvars[inventory_hostname].ansible_eth0.ipv4.address }}",
  "client_addr": "{{ hostvars[inventory_hostname].ansible_eth0.ipv4.address }}",
  "retry_join": [{% for node in groups['tag_Role_consul_server'] %}"{{ hostvars[node].ansible_eth0.ipv4.address }}"{% if not loop.last %},{% endif %}{% endfor %}]
}
