log_level = "DEBUG"
bind_addr = "0.0.0.0"
data_dir = "/var/nomad"
datacenter = "prod"
region = "us"
leave_on_terminate = true
leave_on_interrupt = true
client {
  enabled = true
  servers = ["nomad-1.prod.wellmatchhealth.com", "nomad-2.prod.wellmatchhealth.com", "nomad-3.prod.wellmatchhealth.com"]
}
